body {
      font-family: 'Readex Pro', sans-serif;
      color: #FFFFFF;
      background-color: #8A2BE2;
}

.heading_div {
      letter-spacing: 10px;
      margin-top: 20px;
      font-size: 18px;
      border-radius: 10px;
}

hr {
      width: 75%;
}

.holder_div {
      height: 300px;
      width: 350px;
      border-style: dashed;
      margin-top: 10px;
}

.label {
      background-color: #FFFFFF;
      color: #9ACD32;
      border-radius: 10px;
      font-size: 20px;
      margin: 3px;
}

button {
      border-radius: 10px;
      margin: 3px;
}

#prediction_name, #prediction_emoji {
      font-size: medium;
}